/Darecali.Tests/bin
/Darecali.Tests/obj
/Darecali/bin
/Darecali/obj
/Darecali.Deployment/bin
/Darecali.Deployment/obj
/Darecali.Samples/bin
/Darecali.Samples/obj
# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
#vs
.vs